.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
 min-height: 100vh;
  padding-top: 80px; 
  background: linear-gradient(to right, #15141c 0%, #201b2b 100%);
  color: #f5f5f5;

}

.reviewBox {
background: linear-gradient(to right, #15141c 0%, #201b2b 100%);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 700px;

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: #bfbfc4;
  }

  &__textarea {
    width: 100%;
    height: 100px;
     background-color: rgba(40, 37, 50, 0.5);
    border: none;
    border-radius: 6px;
    padding: 12px;
    color: #ffffff;
    resize: none;
    font-size: 14px;
    outline: none;

    &::placeholder {
      color: #888;
    }
  }

  &__button {

    align-self: flex-end;
    background: linear-gradient(to right, #16E98A 0%, #00C37A 100%);
    color: #0b0b0f;
    border: none;
    border-radius: 100px;
    padding: 10px 28px;
    cursor: pointer;
    transition: 0.2s ease;
  

    &:hover {
      opacity: 0.9;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
