.profile {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 32px 64px;
  background: linear-gradient(to right, #15141c 0%, #201b2b 100%);
  color: #f5f5f5;
  min-height: 100vh;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding-left: 100px;
    padding-right: 78px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__avatar {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-size: 25px;
    margin: 0;
  }

  p {
    font-size: 16px;
    color: #aaa;
    margin: 6px 0 0;
  }

  &__stats {
    background-color: rgba(28, 26, 35, 0.7);
    padding: 45px 65px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    min-width: 200px;
    margin-top: 88px;

    p {
      margin: 8px 0;
      font-size: 16px;
      color: #ffffff;
    }
  }

  &__lists {
    text-transform: uppercase;
  }

  &__title {
    font-size: 16px !important;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 16px;
    border-bottom: 1px solid #5da1ff;
    padding-bottom: 8px;
  }
}
