.movieCard {
  display: flex;
  gap: 60px;

  .poster {
    width: 430px;
    height: 650px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }

  .detailsAndActions {
    display: flex;
    gap: 40px;

    .details {
      display: flex;
      flex-direction: column;
      gap: 20px;

      ul {
    margin-top: 12px;
    padding-left: 18px;

    li {
      font-size: 16px; 
      color: #fff; 
      
    }
  }

      .title {
        font-weight: 400;
        color: #fff;
        font-size: 20px;
      }

      .description {
        color: #c9c9c9;
        font-size: 16px;
      }

      .tabs {
        display: flex;
        gap: 8px;
        margin-top: 10px;
        border-bottom: 2px solid #4a4a4a;

        button {
          background: transparent;
          color: #aaa;
          border: none;
          padding: 10px 24px;
          font-size: 20px;
          cursor: pointer;
          position: relative;

          &.active{
            color: #ffffff;
          }

          &:hover {
            color: #f5f5f5;
          }

          &.active::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #5294e2;
          }
        }
      }
    }

    .actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 37, 50, 0.5);
  border-radius: 12px;
  padding: 16px 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  gap: 40px;
  height: fit-content;
  align-self: flex-start;
}

.actionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;

  img {
    transition: transform 0.2s ease;
  }

  &:hover img {
    transform: scale(1.5);
  }
}
  }
}
