.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: linear-gradient(146deg, #5da1ff 0%, #477eff 100%);
  width: 200px;
  height: 50px;
  border-radius: 37px;
  color: #000000;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.98);
  }
}
