@use "/src/styles/variables" as vars;

.header {
  display: flex;
  align-items: center;
  background-color: #1e1e2d;
  padding: 12px 40px;
  gap: 20px;
  color: #fff;

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    position: relative;
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__search-icon {
    position: absolute;
    left: 15px;
    z-index: 2;
    color: #a0a0a0;
  }

  &__search-input {
    background-color: #2c2c44;
    border: none;
    border-radius: 15px;
    padding: 10px 15px 10px 29px;

    color: #ffffff;
    outline: none;
    width: 182px;
    height: 32px;
    font-size: 12px;

    &::placeholder {
      color: #a0a0a0;
      opacity: 1;
    }
  }

  &__search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 250px;
    background: #2c2c44;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    margin-top: 4px;
    z-index: 5;
    list-style: none;
    padding: 0;
  }

  &__search-result-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: rgba(93, 161, 255, 0.1);
    }

    img {
      width: 40px;
      height: 60px;
      object-fit: cover;
      border-radius: 4px;
    }

    span {
      font-size: 12px;
      font-weight: 500;
      color: #fff;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;

    &-item {
      color: #ffffff;
      text-decoration: none;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 5px;
      text-transform: uppercase;
      transition: color 0.3s ease-in-out;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: #5da1ff;
      }

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
